@media only screen and (min-width: $largeur__bureau) {
  header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $couleurFond;

    .site__header__logo {
      width: 100%;
      height: 100%;
      padding: 0 2rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .menu-site {
        height: 100%;

        .menu-entete-container {
          height: 100%;

          ul {
            padding: 0;
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            gap: 2rem;

            li {
              width: inherit;
              display: flex;
              justify-content: space-around;
              position: relative;
              font-size: 10px;
              font-weight: bold;

              a {
                display: flex;
                font-size: 1.5em;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                justify-content: space-around;
                padding: 1.5rem 0;
                background: linear-gradient(
                    to right,
                    rgb(107, 172, 237),
                    rgb(107, 172, 237)
                  ),
                  linear-gradient(
                    to right,
                    rgb(182, 211, 240),
                    rgb(182, 211, 240)
                  );
                background-size: 100% 0px, 0 0px;
                background-position: 100% 100%, 0 100%;
                background-repeat: no-repeat;
                transition: background-size 400ms;
              }
            }

            li::before {
              content: "";
              width: 4px;
              height: 4px;
              background-color: #ffffff;
              border-radius: 50%;
              position: absolute;
              bottom: 10px;
            }

            li:hover::before {
              border-radius: 0%;
              width: 100%;
              height: 2px;
              transition: ease-in-out 0.2s;
            }
          }
        }
      }
    }
  }
}
