header {
  background-color: red;
  height: 8vh;
  display: flex;
  justify-content: flex-end;

  .menu-burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .bar {
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 3px 0;
      transition: 0.4s;
    }

    &.active {
      .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  nav {
    margin: 0 50px;
    display: none;
    a {
      text-decoration: none;
      color: white;
      margin: 0 20px;
    }
  }
}
