header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 30px;

  .menu-burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 3;

    .bar {
      width: 20px;
      height: 2px;
      background-color: white;
      margin: 3px 0;
    }
    @media screen and (min-width: $largeur__bureau) {
      display: none;
    }
  }

  nav {
    display: none;

    a {
      background-color: rgba(35, 58, 111, 0.536);
      text-decoration: none;
      color: white;
      padding: 3px;
      margin: 4px;
      border-radius: 10px;
    }
    @media screen and (min-width: $largeur__bureau) {
      display: block;
      a {
        background-color: transparent;
      }
    }
  }
}
.menu-nav.active {
  position: absolute;
  display: flex;
  top: 90px;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.86);
  flex-direction: column;
  width: 100vw;
  left: 0;
  border-radius: 0 0 20px 20px;
}
