.main_accueil {
    width: 100vw;
    margin: 0;
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    // Tous les titres
    h2 {
        width: 70vw;
        font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
        letter-spacing: 0.05rem;
        text-align: center;
        text-transform: uppercase;
        margin: 5rem 0 0 0;
    }

    // Tous les paragraphes
    &>p {
        width: 70vw;
        margin: 2rem 0;
    }

    // Tous les boutons
    .wp-block-buttons {
        all: unset;
        margin: 1rem 0;

        .wp-block-button {
            all: unset;

            a {
                all: unset;
                background: rgb(201, 233, 255);
                background: linear-gradient(180deg, rgba(201, 233, 255, 1) 0%, rgba(158, 201, 231, 1) 100%);
                font-family: "Montserrat", sans-serif;
                font-size: 0.875rem;
                font-weight: bold;
                color: $degradeFondSiteDeux;
                text-transform: uppercase;
                border-radius: 2rem;
                padding: 0.5rem 1rem;
            }
        }
    }

    // Vidéo promotionnelle
    .fp-video {
        width: 100vw;
        height: 25vh;
        overflow: hidden;
        margin: 0;
        padding: 0;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            width: 100vw;
            height: calc(25vh + 1.5rem);
            background-color: transparent;
            content: "";
            border: 2px solid white;
            border-radius: 1rem;
            display: block;
            position: absolute;
            transform: translateX(-1.25rem) translateY(-1rem);
        }
    }

    // Étudier en TIM, c'est [...]
    .fp-tim-cest:nth-of-type(1) {
        width: 75vw;
        font-size: clamp(1.375rem, 0.5938rem + 2.5vw, 2rem);
        letter-spacing: 0.075rem;
        text-align: right;
        margin: 3rem 0 0 0;
    }

    .fp-tim-cest:nth-of-type(2) {
        width: 75vw;
        font-size: clamp(1.375rem, 0.5938rem + 2.5vw, 2rem);
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 0.075rem;
        margin: 0;
    }

    // - Nom, cohorte
    .fp-nom-cohorte {
        width: 75vw;
        font-style: italic;
        text-align: right;
        margin: 1rem 0 0 0;
    }

    // Image 1
    .fp-image-1 {
        width: 50vw;
        height: 20vh;
        overflow: hidden;
        margin: 3rem 0 1rem 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        &::before {
            width: 50vw;
            height: 20vh;
            background-color: transparent;
            content: "";
            border: 2px solid $couleurTitreTextes;
            border-radius: 0.5rem;
            display: block;
            position: absolute;
            transform: translateX(-0.5rem) translateY(0.25rem);
        }
    }

    // Paragraphe 1
    .fp-p-1 {

        // Top right
        &::before {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            content: "";
            border-top: 2px solid $couleurElmtUn;
            border-right: 2px solid $couleurElmtUn;
            border-top-right-radius: 0.5rem;
            position: absolute;
            right: 0;
            transform: translateX(calc(-15vw + 1rem)) translateY(-0.5rem);
        }

        // Bottom left
        &::after {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            content: "";
            border-bottom: 2px solid $couleurElmtUn;
            border-left: 2px solid $couleurElmtUn;
            border-bottom-left-radius: 0.5rem;
            position: absolute;
            left: 0;
            transform: translateX(calc(15vw - 1rem)) translateY(0.5rem);
        }
    }

    // Une équipe de professeurs dévoués
    .fp-h2-profs {
        margin-top: 4rem;
    }

    // Image 2
    .fp-image-2 {
        width: 65vw;
        height: 17vh;
        overflow: hidden;
        margin: 1.5rem 0 0 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        &::before {
            width: 65vw;
            height: 17vh;
            background-color: transparent;
            content: "";
            border: 2px solid $couleurTitreTextes;
            border-radius: 0.5rem;
            display: block;
            position: absolute;
            transform: translateX(-0.5rem) translateY(-0.5rem);
        }
    }

    // Paragraphe 2
    .fp-p-profs {

        // Top right
        &::before {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            content: "";
            border-top: 2px solid $couleurElmtUn;
            border-right: 2px solid $couleurElmtUn;
            border-top-right-radius: 0.5rem;
            position: absolute;
            right: 0;
            transform: translateX(calc(-15vw + 1rem)) translateY(-0.5rem);
        }

        // Bottom left
        &::after {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            content: "";
            border-bottom: 2px solid $couleurElmtUn;
            border-left: 2px solid $couleurElmtUn;
            border-bottom-left-radius: 0.5rem;
            position: absolute;
            left: 0;
            transform: translateX(calc(15vw - 1rem)) translateY(0.5rem);
        }
    }

    // Des cours selon vos intérêts
    // Icônes des cours
    // !important pour écraser les styles par défaut de WordPress...
    .fp-icones {
        width: 100vw !important;
        box-sizing: border-box;
        margin-top: 2rem;
        padding: 0 2rem;
        display: flex !important;
        flex-flow: row wrap !important;
        justify-content: space-around !important;
        gap: 2rem !important;

        figure {
            width: 100% !important;
            max-width: 30vw !important;
            height: inherit !important;
        }
    }

    // Un apprentissage par projet
    // Image 3
    .fp-image-3 {
        width: 65vw;
        height: 25vh;
        overflow: hidden;
        margin: 1.5rem 0 0 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        &::before {
            width: 65vw;
            height: 25vh;
            background-color: transparent;
            content: "";
            border: 2px solid $couleurTitreTextes;
            border-radius: 0.5rem;
            display: block;
            position: absolute;
            transform: translateX(0.25rem) translateY(-0.5rem);
        }
    }

    // Paragraphe 3
    .fp-p-projets {

        // Top right
        &::before {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            content: "";
            border-top: 2px solid $couleurElmtUn;
            border-right: 2px solid $couleurElmtUn;
            border-top-right-radius: 0.5rem;
            position: absolute;
            right: 0;
            transform: translateX(calc(-15vw + 1rem)) translateY(-0.5rem);
        }

        // Bottom left
        &::after {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            content: "";
            border-bottom: 2px solid $couleurElmtUn;
            border-left: 2px solid $couleurElmtUn;
            border-bottom-left-radius: 0.5rem;
            position: absolute;
            left: 0;
            transform: translateX(calc(15vw - 1rem)) translateY(0.5rem);
        }
    }

    // Soumets une demande d’admission dès maintenant.
    .fp-p-admission {
        text-align: center;
    }
}