// Mode mobile
// De 320px à 767px
.main_accueil {
    width: 100vw;
    margin: 0;
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    // Tous les titres
    h2 {
        width: 70vw;
        font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
        letter-spacing: 0.05rem;
        text-align: center;
        text-transform: uppercase;
        margin: 5rem 0 0 0;
    }

    // Tous les paragraphes
    &>p {
        width: 70vw;
        margin: 2rem 0;

        // Crochets pour certains paragraphes
        // Top right
        &::before {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            content: "";
            border-top: 2px solid $couleurElmtUn;
            border-right: 2px solid $couleurElmtUn;
            border-top-right-radius: 0.5rem;
            position: absolute;
            right: 0;
            transform: translateX(calc(-15vw + 1rem)) translateY(-0.5rem);
        }

        // Bottom left
        &::after {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            content: "";
            border-bottom: 2px solid $couleurElmtUn;
            border-left: 2px solid $couleurElmtUn;
            border-bottom-left-radius: 0.5rem;
            position: absolute;
            left: 0;
            transform: translateX(calc(15vw - 1rem)) translateY(0.5rem);
        }

        &:first-of-type,
        &:nth-of-type(2),
        &:last-of-type {

            &::before,
            &::after {
                display: none;
            }
        }
    }

    // Toutes les images
    .fp-image {
        width: 65vw;
        height: 40vw;
        overflow: hidden;
        margin: 1.5rem 0 0 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        &::before {
            width: 65vw;
            height: 40vw;
            background-color: transparent;
            content: "";
            border: 2px solid $couleurTitreTextes;
            border-radius: 0.5rem;
            display: block;
            position: absolute;
            transform: translateX(0.35rem) translateY(0.35rem);
        }
    }

    // Tous les boutons
    .wp-block-buttons {
        all: unset;
        margin: 1rem 0;

        .wp-block-button {
            all: unset;

            a {
                all: unset;
                background: rgb(201, 233, 255);
                background: linear-gradient(180deg, rgba(201, 233, 255, 1) 0%, rgba(158, 201, 231, 1) 100%);
                font-family: "Montserrat", sans-serif;
                font-size: 0.875rem;
                font-weight: bold;
                color: $degradeFondSiteDeux;
                text-transform: uppercase;
                border-radius: 2rem;
                padding: 0.5rem 1rem;
            }
        }
    }

    // Vidéo promotionnelle
    .fp-video {
        width: 100vw;
        height: clamp(15rem, 4.2857rem + 53.5714vw, 30rem);
        overflow: hidden;
        margin: 0;
        padding: 0;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            width: 100vw;
            height: clamp(16.5rem, 5.7857rem + 53.5714vw, 31.5rem);
            background-color: transparent;
            content: "";
            border: 2px solid white;
            border-radius: 1rem;
            display: block;
            position: absolute;
            transform: translateX(-1.25rem) translateY(-1rem);
        }
    }

    // Étudier en TIM, c'est [...]
    // Titre
    .fp-tim-cest:nth-of-type(1) {
        width: 100%;
        font-size: clamp(1.375rem, 0.5938rem + 2.5vw, 2rem);
        letter-spacing: 0.075rem;
        text-align: right;
        margin: 3rem 0 0 0;
        padding-right: clamp(3rem, -5.9286rem + 44.6429vw, 15.5rem);
    }

    .fp-tim-cest:nth-of-type(2) {
        width: 100%;
        font-size: clamp(1.375rem, 0.5938rem + 2.5vw, 2rem);
        text-align: right;
        letter-spacing: 0.075rem;
        margin: 0;
        padding-right: clamp(3rem, -5.9286rem + 44.6429vw, 15.5rem);
    }

    // Citation
    .fp-citation {
        text-align: center;
        margin: 2rem 0;
    }

    // - Nom, cohorte
    // Paragraphe
    .fp-nom-cohorte {
        width: 100%;
        font-style: italic;
        color: $couleurElmtUn;
        text-align: right;
        margin: 0;
        padding-right: clamp(3rem, -5.9286rem + 44.6429vw, 15.5rem);
    }

    // Une équipe de professeurs dévoués
    // Titre
    .fp-h2-profs {
        margin-top: 4rem;
    }

    // Des cours selon vos intérêts
    // Icônes des cours
    // !important pour écraser les styles par défaut de WordPress...
    .fp-icones {
        width: 70vw !important;
        box-sizing: border-box;
        margin-top: 2rem;
        display: grid !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2rem !important;
        grid-row-gap: 2rem !important;
        justify-items: center;
        align-items: center;

        figure {
            width: clamp(5rem, 1.4206rem + 17.8971vw, 10rem) !important;
            height: inherit !important;
        }
    }

    // Soumets une demande d’admission dès maintenant.
    // Paragraphe
    .fp-p-admission {
        font-size: clamp(0.75rem, 0.3929rem + 1.7857vw, 1.25rem);
        font-weight: 600;
        color: $couleurElmtDeux;
        letter-spacing: 0.075rem;
        text-align: center;
    }
}

// Mode tablette
// De 768px à 1024px
@media only screen and (min-width:768px) {
    .main_accueil {

        // Tous les titres
        h2 {
            width: 60vw;
            font-size: clamp(1.75rem, 1rem + 1.5625vw, 2rem);
            letter-spacing: 0.1rem;
            margin: 6rem 0 0 0;
        }

        // Tous les paragraphes
        &>p {
            width: 60vw;
            font-size: clamp(1rem, 0.25rem + 1.5625vw, 1.25rem);
            margin: 4rem 0;

            // Crochets pour certains paragraphes
            // Top right
            &::before {
                width: 2rem;
                height: 2rem;
                border-top: 4px solid $couleurElmtUn;
                border-right: 4px solid $couleurElmtUn;
                border-top-right-radius: 0.75rem;
                transform: translateX(calc(-20vw + 2rem)) translateY(-1.5rem);
            }

            // Bottom left
            &::after {
                width: 2rem;
                height: 2rem;
                border-bottom: 4px solid $couleurElmtUn;
                border-left: 4px solid $couleurElmtUn;
                border-bottom-left-radius: 0.75rem;
                transform: translateX(calc(20vw - 2rem)) translateY(1rem);
            }

            &:last-of-type {
                margin: 1rem 0;
            }
        }

        // Toutes les images
        .fp-image {
            width: 55vw;
            height: 35vw;
            overflow: hidden;
            margin: 1.5rem 0 0 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }

            &::before {
                width: 55vw;
                height: 35vw;
                border: 4px solid white;
                border-radius: 1rem;
                transform: translateX(0.5rem) translateY(0.5rem);
            }
        }

        // Tous les boutons
        .wp-block-buttons {
            margin: 2rem 0;

            .wp-block-button {
                a {
                    font-size: 1rem;
                    border-radius: 2rem;
                    padding: 0.5rem 1rem;
                }
            }
        }

        // Vidéo promotionnelle
        .fp-video {
            height: clamp(30rem, 9rem + 43.75vw, 37rem);

            &::before {
                height: clamp(33rem, 12rem + 43.75vw, 40rem);
                border: 4px solid white;
                border-radius: 1.5rem;
                transform: translateX(-1.5rem) translateY(-2rem);
            }
        }

        // Étudier en TIM, c'est [...]
        // Titre
        .fp-tim-cest:nth-of-type(1) {
            font-size: clamp(2rem, 1.25rem + 1.5625vw, 2.25rem);
            letter-spacing: clamp(0.075rem, -0.15rem + 0.4688vw, 0.15rem);
            margin: 3rem 0 0 0;
            padding-right: clamp(15.5rem, -2.5rem + 37.5vw, 21.5rem);
        }

        .fp-tim-cest:nth-of-type(2) {
            font-size: clamp(2rem, 1.25rem + 1.5625vw, 2.25rem);
            letter-spacing: clamp(0.075rem, -0.15rem + 0.4688vw, 0.15rem);
            padding-right: clamp(15.5rem, -2.5rem + 37.5vw, 21.5rem);
        }

        // - Nom, cohorte
        // Paragraphe
        .fp-nom-cohorte {
            padding-right: clamp(15.5rem, -2.5rem + 37.5vw, 21.5rem);
        }

        // Des cours selon vos intérêts
        // Icônes des cours
        // !important pour écraser les styles par défaut de WordPress...
        .fp-icones {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 4rem !important;
            grid-row-gap: 4rem !important;

            figure {
                width: clamp(6rem, 1.4286rem + 9.5238vw, 10rem) !important;
                height: inherit !important;
            }
        }

        .fp-p-admission {
            font-size: clamp(1.25rem, 0.6786rem + 1.1905vw, 1.75rem);
        }
    }
}

// Mode ordinateur
@media only screen and (min-width:1024px) {
    .main_accueil {
        flex-flow: row wrap;
        justify-content: space-around;

        // Tous les titres
        h2 {
            width: 90vw;
            font-size: clamp(1.75rem, 1rem + 1.5625vw, 2rem);
            letter-spacing: 0.1rem;
            margin: 10rem 0 0 0;
        }

        // Paragraphes à droite
        // .fp-p-droite {
        &>p {
            width: 42vw;
            font-size: clamp(1rem, 0.25rem + 1.5625vw, 1.25rem);
            margin: 4rem 0;

            // Crochets pour certains paragraphes
            // Top right
            &::before {
                width: 2rem;
                height: 2rem;
                border-top: 4px solid $couleurElmtUn;
                border-right: 4px solid $couleurElmtUn;
                border-top-right-radius: 0.75rem;
                transform: translateX(calc((-16vw / 3) + 2rem)) translateY(-1rem);
            }

            // Bottom left
            &::after {
                width: 2rem;
                height: 2rem;
                border-bottom: 4px solid $couleurElmtUn;
                border-left: 4px solid $couleurElmtUn;
                border-bottom-left-radius: 0.75rem;
                right: 0;
                left: inherit;
                transform: translateX(calc((-42vw + (-16vw / 3)) + 2rem)) translateY(1rem);
            }
        }

        // Paragraphes centrés
        .fp-p-centre {
            width: 50vw;
            font-size: clamp(1rem, 0.25rem + 1.5625vw, 1.25rem);
            margin: 4rem 0;

            // Crochets pour certains paragraphes
            // Top right
            &::before {
                width: 2rem;
                height: 2rem;
                border-top: 4px solid $couleurElmtUn;
                border-right: 4px solid $couleurElmtUn;
                border-top-right-radius: 0.75rem;
                transform: translateX(calc(-25vw + 2rem)) translateY(-1rem);
            }

            // Bottom left
            &::after {
                width: 2rem;
                height: 2rem;
                border-bottom: 4px solid $couleurElmtUn;
                border-left: 4px solid $couleurElmtUn;
                border-bottom-left-radius: 0.75rem;
                left: 0;
                right: inherit;
                transform: translateX(calc(25vw - 2rem)) translateY(1rem);
            }

            &:last-of-type {
                margin: 1rem 0;
            }
        }

        // Paragraphes à gauche
        // .fp-p-gauche {
        //     width: 42vw;
        //     font-size: clamp(1rem, 0.25rem + 1.5625vw, 1.25rem);
        //     margin: 4rem 0;

        //     // Crochets pour certains paragraphes
        //     // Top right
        //     &::before {
        //         width: 2rem;
        //         height: 2rem;
        //         border-top: 4px solid $couleurElmtUn;
        //         border-right: 4px solid $couleurElmtUn;
        //         border-top-right-radius: 0.75rem;
        //         transform: translateX(calc((-42vw + (-16vw / 3)) + 2rem)) translateY(-1rem);
        //     }

        //     // Bottom left
        //     &::after {
        //         width: 2rem;
        //         height: 2rem;
        //         border-bottom: 4px solid $couleurElmtUn;
        //         border-left: 4px solid $couleurElmtUn;
        //         border-bottom-left-radius: 0.75rem;
        //         right: 0;
        //         left: inherit;
        //         transform: translateX(calc((-16vw / 3) + 2rem)) translateY(1rem);
        //     }
        // }

        // Toutes les images
        .fp-image {
            width: 42vw;
            height: 26vw;
            overflow: hidden;
            margin: 1.5rem 0 0 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }

            &::before {
                width: 42vw;
                height: 26vw;
                border: 6px solid white;
                border-radius: 1.5rem;
                transform: translateX(1rem) translateY(1rem);
            }
        }

        // Tous les boutons
        .wp-block-buttons {
            margin: 5rem 25vw 0 25vw;

            .wp-block-button {
                a {
                    font-size: 1rem;
                    border-radius: 2rem;
                    padding: 0.5rem 1rem;
                }
            }

            &:last-of-type {
                margin-top: 2rem;
            }
        }

        // Vidéo promotionnelle
        .fp-video {
            height: clamp(30rem, 9rem + 43.75vw, 37rem);

            &::before {
                height: clamp(33rem, 12rem + 43.75vw, 40rem);
                border: 8px solid white;
                border-radius: 2rem;
                transform: translateX(-2.5rem) translateY(-2rem);
            }
        }

        // Étudier en TIM, c'est [...]
        // Titre
        .fp-tim-cest:nth-of-type(1) {
            width: 80vw;
            font-size: clamp(2rem, -0.4699rem + 3.8554vw, 3rem);
            letter-spacing: clamp(0.075rem, -0.15rem + 0.4688vw, 0.15rem);
            margin: 8rem 0 0 0;
            padding-right: clamp(15.5rem, -2.5rem + 37.5vw, 21.5rem);
        }

        .fp-tim-cest:nth-of-type(2) {
            width: 80vw;
            font-size: clamp(2rem, -0.4699rem + 3.8554vw, 3rem);
            letter-spacing: clamp(0.075rem, -0.15rem + 0.4688vw, 0.15rem);
            padding-right: clamp(15.5rem, -2.5rem + 37.5vw, 21.5rem);
        }

        // - Nom, cohorte
        // Paragraphe
        .fp-nom-cohorte {
            width: 80vw;
            margin-bottom: 2rem;
            padding-right: clamp(15.5rem, -2.5rem + 37.5vw, 21.5rem);
        }

        // Une équipe de professeurs dévoués
        // Titre
        .fp-h2-profs {
            margin-top: 10rem;
        }

        // Des cours selon vos intérêts
        // Icônes des cours
        // !important pour écraser les styles par défaut de WordPress...
        .fp-icones {
            max-width: 50vw;
            margin: 0 10vw;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 4rem !important;
            grid-row-gap: 4rem !important;

            figure {
                width: clamp(6rem, 1.4286rem + 9.5238vw, 10rem) !important;
                height: inherit !important;
            }
        }
    }
}