// Mode mobile
// De 320px à 767px
.main_accueil {
    width: 100vw;
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    // Vidéo promotionnelle
    .fp-video {
        width: 100vw;
        height: clamp(15rem, 3.6202rem + 56.8990vw, 40rem);
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            width: 100vw;
            height: calc(clamp(15rem, 3.6202rem + 56.8990vw, 40rem) + clamp(2.5rem, 2.0448rem + 2.2760vw, 3.5rem));
            background-color: transparent;
            content: "";
            border: clamp(0.1875rem, 0.1429rem + 0.2232vw, 0.5rem) solid white;
            border-radius: clamp(1rem, 0.7143rem + 1.4286vw, 3rem);
            display: block;
            position: absolute;
            transform: translateX(calc(-1 * (clamp(1.25rem, 0.8929rem + 1.7857vw, 3.75rem)))) translateY(-2rem);
        }
    }

    .fp-section {
        width: 100%;
        margin-top: 4rem;
        padding: 0 5vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        h2 {
            text-align: center;
        }

        .fp-image {
            width: 65vw;
            height: 40vw;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.5rem;
            }

            &::before {
                width: 65vw;
                height: 40vw;
                background-color: transparent;
                content: "";
                border: 2px solid $couleurTitreTextes;
                border-radius: 0.5rem;
                display: block;
                position: absolute;
                transform: translateX(0.35rem) translateY(-0.65rem);
            }
        }

        p {
            width: 85%;
        }
    }

    // Toutes les icônes des cours de la page d'accueil
    .wp-block-gallery {
        .fp-icone-cours {
            .wp-element-caption {
                background: transparent;
                position: relative;
                font-weight: 500;
            }
        }
    }

    // Des cours selon vos intérêts
    // Icônes des cours
    // !important pour écraser les styles par défaut de WordPress...
    .fp-icones {
        width: 70vw !important;
        box-sizing: border-box;
        // margin-top: 2rem;
        display: grid !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2rem !important;
        grid-row-gap: 2rem !important;
        justify-items: center;
        align-items: center;

        figure {
            width: clamp(5rem, 1.4206rem + 17.8971vw, 10rem) !important;
            height: inherit !important;
        }
    }

    // Soumets une demande d’admission dès maintenant.
    // Paragraphe
    .fp-p-admission {
        font-weight: 500;
        color: $couleurElmtDeux;
        letter-spacing: 0.075rem;
        text-align: center;
    }
}

// Mode tablette
// De 768px à 1024px
@media only screen and (min-width: 768px) {
    .main_accueil {

        // Toutes les images
        .fp-image {
            width: 55vw;
            height: 35vw;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }

            &::before {
                width: 55vw;
                height: 35vw;
                border: 4px solid white;
                border-radius: 1rem;
                transform: translateX(0.5rem) translateY(0.5rem);
            }
        }

        // Tous les boutons
        .wp-block-buttons {
            // margin: 2rem 0;

            .wp-block-button {
                a {
                    border-radius: 2rem;
                    padding: 0.5rem 1rem;
                }
            }
        }

        // Des cours selon vos intérêts
        // Icônes des cours
        // !important pour écraser les styles par défaut de WordPress...
        .fp-icones {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 4rem !important;
            grid-row-gap: 4rem !important;

            figure {
                width: clamp(6rem, 1.4286rem + 9.5238vw, 10rem) !important;
                height: inherit !important;
            }
        }

        .fp-p-admission {}
    }
}

// Mode ordinateur
@media only screen and (min-width: 1024px) {
    .main_accueil {
        flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 10rem;

        // Paragraphes centrés
        .fp-p-centre {
            width: 50vw;
            margin: 4rem 0;

            &:last-of-type {
                margin: 1rem 0;
            }
        }

        // Paragraphes à gauche
        // .fp-p-gauche {
        //     width: 42vw;
        //     margin: 4rem 0;

        //     // Crochets pour certains paragraphes
        //     // Top right
        //     &::before {
        //         width: 2rem;
        //         height: 2rem;
        //         border-top: 4px solid $couleurElmtUn;
        //         border-right: 4px solid $couleurElmtUn;
        //         border-top-right-radius: 0.75rem;
        //         transform: translateX(calc((-42vw + (-16vw / 3)) + 2rem)) translateY(-1rem);
        //     }

        //     // Bottom left
        //     &::after {
        //         width: 2rem;
        //         height: 2rem;
        //         border-bottom: 4px solid $couleurElmtUn;
        //         border-left: 4px solid $couleurElmtUn;
        //         border-bottom-left-radius: 0.75rem;
        //         right: 0;
        //         left: inherit;
        //         transform: translateX(calc((-16vw / 3) + 2rem)) translateY(1rem);
        //     }
        // }

        // Toutes les icônes des cours de la page d'accueil
        .wp-block-gallery {
            .fp-icone-cours {
                .wp-element-caption {}
            }
        }

        // Toutes les images
        .fp-image {
            width: 42vw;
            height: 26vw;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }

            &::before {
                width: 42vw;
                height: 26vw;
                border: 0.3rem solid $couleurTitreTextes;
                border-radius: 1.5rem;
                transform: translateX(1rem) translateY(1rem);
            }
        }

        // Tous les boutons
        .wp-block-buttons {
            // margin: 5rem 25vw 0 25vw;

            .wp-block-button {
                a {
                    border-radius: 2rem;
                    padding: 0.5rem 1rem;
                }
            }

            &:last-of-type {
                margin-top: 2rem;
            }
        }

        // Vidéo promotionnelle
        .fp-video {
            height: calc(100vh - clamp(3rem, 2.2857rem + 3.5714vw, 8rem));

            &::before {
                height: calc((100vh - clamp(3rem, 2.2857rem + 3.5714vw, 8rem)) + clamp(4.5rem, 3.8333rem + 1.0417vw, 5.5rem));
                // border: 0.3rem solid $couleurTitreTextes;
                // border-radius: 2rem;
                transform: translateX(calc(-1 * (clamp(1.25rem, 0.8929rem + 1.7857vw, 3.75rem)))) translateY(-3rem);
            }
        }

        // Des cours selon vos intérêts
        // Icônes des cours
        // !important pour écraser les styles par défaut de WordPress...
        .fp-icones {
            max-width: 50vw;
            margin: 0 10vw;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 4rem !important;
            grid-row-gap: 4rem !important;

            figure {
                width: clamp(6rem, 1.4286rem + 9.5238vw, 10rem) !important;
                height: inherit !important;
            }
        }
    }
}