footer {
  width: 100vw;
  height: auto;
  background-color: $couleurFond;
  color: $couleurTitreTextes;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: clamp(3rem, 2.5714rem + 2.1429vw, 6rem);
  position: relative;
  bottom: 0;

  // Divs "Contactez-nous", "Suivez-nous", crédits
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    // Divs contenant les titres, les paragraphes et le code HTML qui génère les logos
    div {
      width: fit-content;

      // Titres "Contactez-nous", "Suivez-nous"
      h2 {
        margin: 0;
        padding: 0;
      }

      // Paragraphes/sous-titres "Campus", "Téléphone"
      .sous-titre {
        font-weight: bold;
        padding-top: 1rem;
      }
    }

    // Div "Suivez-nous"
    &:nth-of-type(2) {

      // Div des logos de médias sociaux; Code HTML écrit dans WordPress
      div:last-child {
        display: flex;
        flex-flow: row wrap;
        gap: 2vw;

        // Logos des médias sociaux
        a {
          width: clamp(2rem, 1.5714rem + 2.1429vw, 5rem);
          height: clamp(2rem, 1.5714rem + 2.1429vw, 5rem);
          display: block;

          svg {
            width: clamp(2rem, 1.5714rem + 2.1429vw, 5rem);
            height: inherit;
            fill: $couleurTitreTextes;
            transform: scale(1);
            transition: ease-in-out 0.2s;

            &:hover {
              fill: $couleurElmtUn;
              transform: scale(1.05);
              transition: ease-in-out 0.2s;
            }
          }
        }
      }
    }

    // Crédits
    &:last-of-type {
      width: 90vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}