footer {
  background-color: black;
  color: white;
  padding: 10px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  h2,
  ul {
    padding: 0 20px;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }

  .iconRS {
    a {
      margin: 10px;
    }
  }
}
@media screen and (min-width: $largeur__bureau) {
  footer {
    flex-direction: row;
  }
}
