main {
    width: 92vw;
    margin: 0 auto;
    background-color: transparent;
    margin-top: 2.9rem;
    margin-bottom: 4rem;
    z-index: 30;

    .encadre_page {
        width: 110%;
        height: 130rem;
        border: 0.3rem $couleurTitreTextes solid;
        border-radius: 2rem;
        position: absolute;
        top: 8rem;
        left: 1rem;
        z-index: -1;
    }

    .degrades {
        filter: blur(7rem);
        width: 70rem;
        height: 100rem;
        position: absolute;
        border-radius: 50%;
        z-index: -5;
    }
    
    .degrade_1 {
        background: radial-gradient(circle, rgba(119,78,186,1) 0%, rgba(119,78,186,0) 100%);
        right: -5rem;
        top: -40rem;
        transform: rotateZ(295deg);
    }
    
    .degrade_2 {
        background: radial-gradient(circle, rgba(51,72,142,1) 0%, rgba(51,72,142,0) 100%);
        left: -25rem;
        top: 30rem;
        transform: rotateZ(35deg);
    }

    .degrade_3 {
        background: radial-gradient(circle, rgba(119,78,186,1) 0%, rgba(119,78,186,0) 100%);
        width: 40rem;
        height: 70rem;
        right: -20rem;
        top: 70rem;
        transform: rotateZ(295deg);
    }

    h1 {
        text-transform: uppercase;
        z-index: 30;
        margin-bottom: 2rem;
    }

    p {
        margin: 0;
    }

    .zone_galerie {
        display: flex;
        z-index: 10;

        img {
            border-radius: 0.4rem;  
        }
        
    }

    .zone_evenements {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 20;

        .article_vie_etudiante::before {
            content: "";
            width: 100%;
            height: 14.3rem;
            border-radius: 1rem;
            background-color: $couleurElmtDeux;
            // backdrop-filter: saturate(130%) blur(2rem); Flou aussi le texte
            mix-blend-mode: soft-light;
            position: absolute;
            box-shadow: 1rem 1rem 3rem rgba(5,25,52, 0.4);
            // z-index: 10;
        }

        .article_vie_etudiante {
            width: 49%;
            height: 14.3rem;
            margin-bottom: 1.4rem;
            margin-top: 0.2rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            // z-index: 20; En mettant ce z-index, on perd le mode de fusion

            img {
                border-radius: 0.4rem;  
                z-index: 20;
            }

            .informations_evenements {
                width: 58%;
                

                h4 {
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 1.4rem;
                }

                .date_evenement {
                    font-size: 1.3rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    color: $couleurElmtDeux;
                    font-weight: 500;
                }
                // .description_evenement {

                // }
            }
        }
    }

    .texte_a_venir {
        position: relative;
        z-index: 20;
        right: 8vw;
        bottom: -4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25rem;
        height: 8rem;
        
        h3 {
            text-align: center;
            margin: 0.3rem;
            text-transform: uppercase;
        }
        
        .texte_1 {
            color: $couleurElmtDeux;
            font-size: 2.7rem;
        }

        .texte_2 {
            font-size: 3.7rem;
        }
    }
}