/************* VERSION MOBILE *************/
.main_etudiant {
  // Styles généraux du modèle de bulles de couleur mauve
  .bulle_modele_1 {
    background-color: $degradeFondSiteUn;
    mix-blend-mode: lighten;
    backdrop-filter: brightness(150%) saturate(95%) blur(3rem);
    opacity: 55%;
    border-radius: 50%;
    position: absolute;
    z-index: -4;
  }

  // Styles spécifiques du modèle de bulles de couleur mauve
  .bulle_m1_position_1 {
    width: 8rem;
    height: 8rem;
    top: 1rem;
    left: 11rem;
  }

  .bulle_m1_position_2 {
    width: 10rem;
    height: 10rem;
    bottom: -2rem;
    right: -2rem;
  }

  // Styles généraux du modèle de bulles de couleur bleu
  .bulle_modele_2 {
    background-color: $degradeFondSiteDeux;
    mix-blend-mode: lighten;
    backdrop-filter: brightness(160%) saturate(95%) blur(6rem);
    opacity: 55%;
    border-radius: 50%;
    position: absolute;
    z-index: -4;
  }

  // Styles spécifiques du modèle de bulles de couleur bleu
  .bulle_m2_position_1 {
    width: 15rem;
    height: 15rem;
    top: -2rem;
    left: -2rem;
  }

  .bulle_m2_position_2 {
    width: 7rem;
    height: 7rem;
    bottom: 1.3rem;
    right: 5rem;
  }

  // Styles du titre "Vie étudiante"
  h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 0.5rem;
    z-index: 15;
  }

  p {
    margin: 0;
    line-height: 1.3rem;
  }

  // Styles de la zone où la galerie est affichée
  .zone_galerie {
    display: flex;
    margin-left: 0.8rem;
    z-index: 10;

    .article_galerie_vie_etudiante {
      .wp-block-gallery {
        .wp-block-image {
          img {
            border-radius: 0.6rem;
          }
        }
      }
    }
  }

  // Styles de la zone où les événements sont affichés
  .zone_evenements {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.3rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 15;

    // Styles pour chaque article
    .article_vie_etudiante::before {
      content: "";
      width: 100%;
      height: 23.3rem;
      background-color: #9375ff;
      opacity: 20%;
      backdrop-filter: saturate(170%) brightness(130%) blur(10rem);
      border-radius: 1rem;
      position: absolute;
      box-shadow: 1rem 1rem 3rem rgba(5, 25, 52, 0.4);
    }

    .article_vie_etudiante {
      width: 100%;
      height: 23.3rem;
      margin-bottom: 1.4rem;
      margin-top: 0.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: relative;

      img {
        width: 40%;
        height: auto;
        border-radius: 0.4rem;
        z-index: 1;
      }

      .informations_evenements {
        width: 90%;

        h2 {
          text-transform: uppercase;
          margin: 0;
          font-size: 1.4rem;
        }

        .date_evenement {
          color: $couleurElmtDeux;
          font-weight: 500;
          font-size: 1.1rem;
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
        }
      }
    }
  }

  // Styles pour le texte "Encore plus à venir"
  .texte_a_venir {
    width: 13rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -16vw;
    bottom: -0.8rem;
    z-index: 15;

    h3 {
      text-transform: uppercase;
      text-align: center;
      margin: 0.3rem;
    }
  }
}

/************* ENTRE MOBILE ET TABLETTE *************/
@media only screen and (min-width:500px) {
  .main_etudiant {
    // Positionnement des bulles proches du footer
    .bulle_m1_position_2 {
      width: 17rem;
      height: 17rem;
      bottom: -3rem;
      right: -3rem;
    }

    .bulle_m2_position_2 {
      width: 9rem;
      height: 9rem;
      bottom: 7.3rem;
      right: 8rem;
    }

    // Styles de la zone où il y a la galerie d'images
    .zone_galerie {
      display: flex;
      margin-left: 1.5rem;
      z-index: 10;
  
      .article_galerie_vie_etudiante {
        .wp-block-gallery {
          .wp-block-image {
            img {
              border-radius: 0.6rem;
            }
          }
        }
      }
    }

    // Styles de la zone ou il y a les événements
    .zone_evenements {
      width: 100%;
      margin: 0 auto;
      margin-top: 2rem;
      margin-left: 0.8rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      z-index: 15;

      // Styles pour chaque article
      .article_vie_etudiante::before {
        content: "";
        width: 100%;
        height: 30.1rem;
        border-radius: 1rem;
        position: absolute;
        box-shadow: 1rem 1rem 3rem rgba(5, 25, 52, 0.4);
      }

      .article_vie_etudiante {
        width: 49%;
        height: 30.1rem;
        margin-bottom: 1.4rem;
        margin-top: 0.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;

        img {
          width: 50%;
          height: auto;
          border-radius: 0.4rem;
          z-index: 1;
        }

        .informations_evenements {
          width: 90%;
        }
      }
    }

    // Styles du texte "Encore plus à venir"
    .texte_a_venir {
      width: 12rem;
      height: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 10rem;
      right: clamp(1rem, -9.714rem + 28.571vw, 4rem);
      z-index: 1;
    }
  }
}

/************* VERSION TABLETTE *************/
@media only screen and (min-width: $largeur__tablette) {
  .main_etudiant {
    // Positionnement des bulles proches du footer
    .bulle_m1_position_2 {
      width: 17rem;
      height: 17rem;
      bottom: -7rem;
      right: -3rem;
    }

    .bulle_m2_position_2 {
      width: 8rem;
      height: 8rem;
      bottom: 3.3rem;
      right: 9rem;
    }

    // Styles du titre "Vie étudiante"
    h1 {
      text-transform: uppercase;
      margin-bottom: 2rem;
      z-index: 15;
    }

    p {
      margin: 0;
    }

    // Styles de la zone où la galerie est affichée
    .zone_galerie {
      display: flex;
      z-index: 10;

      img {
        border-radius: 0.4rem;
      }
    }

    // Styles de la zone où les événements sont affichés
    .zone_evenements {
      width: 100%;
      margin: 0 auto;
      margin-top: 1.5rem;
      margin-left: 0.9rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      z-index: 15;

      // Styles pour chaque article
      .article_vie_etudiante::before {
        content: "";
        width: 100%;
        height: 14.3rem;
        border-radius: 1rem;
        position: absolute;
        box-shadow: 1rem 1rem 3rem rgba(5, 25, 52, 0.4);
      }

      .article_vie_etudiante {
        width: 100%;
        height: 14.3rem;
        margin-bottom: 1.4rem;
        margin-top: 0.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;

        img {
          width: 10rem;
          height: auto;
          border-radius: 0.4rem;
          z-index: 1;
        }

        .informations_evenements {
          width: 54%;

          h4 {
            text-transform: uppercase;
            margin: 0;
          }

          .date_evenement {
            color: $couleurElmtDeux;
            font-weight: 500;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
          }
        }
      }
    }

    // Styles pour le texte "Encore plus à venir"
    .texte_a_venir {
      width: 25rem;
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      right: clamp(-8rem, 16.094rem + -50.196vw, -16rem);
      top: 0rem;
      z-index: 15;

      h3 {
        text-transform: uppercase;
        text-align: center;
        margin: 0.3rem;
      }

      .texte_1 {
        color: $couleurElmtDeux;
      }
    }
  }
}

/************* VERSION ORDINATEUR *************/
@media only screen and (min-width: $largeur__bureau) {
  .main_etudiant {
    // Styles du titre "Vie étudiante"
    h1 {
      text-transform: uppercase;
      margin-bottom: 2rem;
      z-index: 15;
    }

    p {
      margin: 0;
    }

    // Styles de la zone où la galerie est affichée
    .zone_galerie {
      z-index: 10;

      .article_galerie_vie_etudiante {
        img {
          border-radius: 0.4rem;
        }
      }
    }

    // Styles de la zone où les événements sont affichés
    .zone_evenements {
      width: 95%;
      margin: 0 auto;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      z-index: 15;

      // Styles pour chaque article
      .article_vie_etudiante::before {
        content: "";
        width: 100%;
        height: 22.3rem;
        border-radius: 1rem;
        position: absolute;
        box-shadow: 1rem 1rem 3rem rgba(5, 25, 52, 0.4);
      }

      .article_vie_etudiante {
        width: 49%;
        height: 22.3rem;
        margin-bottom: 1.4rem;
        margin-top: 0.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        
        img {
          width: 10rem;
          height: auto;
          border-radius: 0.4rem;
          z-index: 1;
        }

        .informations_evenements {
          width: 58%;
          padding: 0.6rem;

          h4 {
            text-transform: uppercase;
            margin: 0;
          }

          p{
            line-height: 1.4rem;
          }

          .date_evenement {
            color: $couleurElmtDeux;
            font-weight: 500;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }
        }
      }
    }

    // Styles pour le texte "Encore plus à venir"
    .texte_a_venir {
      width: 25rem;
      height: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 9rem;
      right: clamp(0rem, -13.312rem + 20.82vw, 20rem);
      z-index: 1;

      h3 {
        text-transform: uppercase;
        text-align: center;
        margin: 0.3rem;
      }

      .texte_1 {
        font-size: 2.7rem;
      }

      .texte_2 {
        font-size: 3.7rem;
      }
    }
  }
}