////////////////////////////////////////////////////////
///               VERSION MOBILE                    ///
/// ///////////////////////////////////////////////////
.contenuProf {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 1rem;
}
////////////////////////////////////////////////////////
///              VERSION TABLETTE                   ///
/// ///////////////////////////////////////////////////
@media only screen and (min-width: 768px) {
  .contenuProf {
    align-items: flex-start;
  }
}
