////////////////////////////////////////////////////////
///               VERSION MOBILE                    ///
/// ///////////////////////////////////////////////////

.contenuProf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bulleBg {
  filter: blur(25rem);
  width: 70rem;
  height: 90rem;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(119, 78, 186, 1) 0%,
    rgba(119, 78, 186, 0) 100%
  );
  right: -25rem;
  top: -40rem;
}
.bulleBg_deux {
  filter: blur(9rem);
  width: 26rem;
  height: 40%;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: -7%;
  background: radial-gradient(
    circle,
    rgb(51, 72, 142) 0%,
    rgba(51, 72, 142, 0) 100%
  );
}
.barreBlanc {
  width: 100%;
  height: 100%;
  margin-left: 7px;
  position: absolute;
  top: 15rem;
  left: 0;
  border-top: 3px white solid;
  border-left: 3px white solid;
  border-radius: 50px 0;
}
.titreProf {
  // font-size: 5rem;
  // text-align: center;
}

////////////////////////////////////////////////////////
///              VERSION GRAND ECRAN                ///
/// ///////////////////////////////////////////////////

@media only screen and (min-width: $largeur__bureau) {
  .contenuProf {
    margin: 0 20rem;
  }

  .titreProf {
    writing-mode: vertical-rl;
    position: absolute;
    top: 65%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
}
