@media screen and (min-width:$largeur__bureau){

    .blockflex__projet{
            max-width: 70vw;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .projet__general{
            display: flex;
            flex-direction: row;
            gap: 4rem;
            background-color: aqua;
            padding: 23px;
            border-radius: 47px;

            .carte__categorie{
                width: fit-content;
                background-color: red;
                align-content: center;
                padding: 10px 10px 50px 10px;

                p{
                    color: blue;
                }
            }
        }
        
    }    
    
    
    

    

    //.carte__jeux::before {
    //        content: "";
    //        width: 7%;
    //        height: 14.3rem;
    //        background-color: $couleurElmtDeux;
    //        // backdrop-filter: saturate(130%) blur(2rem); Flou aussi le texte
    //        padding: 3rem;
    //        mix-blend-mode: soft-light;
    //        border-radius: 1rem;
    //        position: absolute;
    //        box-shadow: 1rem 1rem 3rem rgba(5,25,52, 0.4);
    //        // z-index: 10;
    //    }

    
}