$largeur__mobile: 500px;
$largeur__tablette: 768px;
$largeur__bureau: 1024px;


// ///// Tester avec l'inspecteur
// /// Plus petite taille possible : 320px
// /// Plus grande taille possible : 2560px

// // Pour écrans mobile large
// $largeur__mobile_grand: 575px;

// // Pour tablette
// $largeur__tablette: 768px;

// // Pour écrans d'ordinateur de petit à large
// $largeur__bureau_petit: 1024px;
// $largeur__bureau_moyen: 1440px;
// $largeur__bureau_grand: 1920px;