header {
    width: 100vw;
    padding: 0 5vw;
}

main {
    margin-top: clamp(3rem, 2.2857rem + 3.5714vw, 8rem) !important;
    padding-bottom: clamp(3rem, 2.2857rem + 3.5714vw, 8rem);
}

footer {
    width: 100vw;
    padding: 3vw 5vw;
}