header {
    width: 100vw;
    padding: 0 5vw;
}

main {
    margin-top: clamp(3rem, 2.2857rem + 3.5714vw, 8rem) !important; // Pour le menu
    padding-bottom: clamp(3rem, 2.2857rem + 3.5714vw, 8rem); // Un espace avant le footer
}

main:not(.main_accueil) {
    padding-left: 5vw;
    padding-right: 5vw;
}

footer {
    width: 100vw;
    padding: 3vw 5vw;
}