body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: $couleurFond;
  color: $couleurTitreTextes;
}
contenu_accueil{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem;
  background: repeating-radial-gradient(farthest-corner at 100% 0%, #0d3a76 0,#051934 50%,#051934 100%); 
  
}

.contenu1,.contenu2,.contenu3,.contenu4,.contenu5,.contenu6{
  min-height: 100vh;
  background-clip: content-box;
  border: 2px solid white;
  
}

.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Vidéo ocupe toute la section */
}

.contenu {
  position: relative;
  z-index: 1;
  padding: 1em;
  text-align:right;
  align-items: flex-start;
  font-family: Montserrat bold;
  color: #fff;
}

.conteneur-titre{
    position: relative;
    text-align: left;
    align-items: flex-start;
    
}

.titre-accueil1{
  position: relative;
  z-index:10;
}

.titre-accueil2{
  position: relative;
  z-index:12;
}

.titre-accueil3{
  position: relative;
  z-index: 2;
}

.titre-accueil1::before {
  content: '';
  position: absolute;
  top: -5vh;
  left: 25vw;
  transform: translate(-50%, -50%);
  width: 300px; 
  height: 300px; 
  background-color: #68afed;
  filter: blur(4px);
  border-radius: 50%; 
  z-index: -3; 
  opacity: 0.8; 
}
.titre-accueil3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 600px; 
  height: 600px; 
  background-color: #0074d9;
  filter: blur(4px);
  border-radius: 50%; 
  z-index: -5; 
  opacity: 0.8;
}

#texteIntro{
  z-index:5;
}


// .contenu1{
//   background: repeating-radial-gradient(farthest-corner at 100% 0%, #0d3a76 0,#051934 50%,#051934 100%); 
//   background: repeating-radial-gradient(farthest-corner at 100% 0%, #0d3a76 0,#051934 40%,#051934 100%); 
// }
// .contenu2{
//   background: repeating-radial-gradient(farthest-corner at 0% 100%, #0d3a76 0,#051934 50%,#051934 100%); 
// }
// .contenu3{
//   background: repeating-radial-gradient(farthest-corner at 20% 20%, #0d3a76 0,#051934 50%,#051934 100%); 
//   background: repeating-radial-gradient(farthest-corner at 0% 0%, #0d3a76 0,#051934 50%,#051934 100%); 
// }
// .contenu4{
//   background: repeating-radial-gradient(farthest-corner at 100% 100%, #0d3a76 0,#051934 50%,#051934 100%); 
// }

// .contenu5{
//   background: repeating-radial-gradient(farthest-corner at 100% 0%, #0d3a76 0,#051934 50%,#051934 100%); 
// }
// .contenu6{
//   background: repeating-radial-gradient(farthest-corner at 0% 100%, #0d3a76 0,#051934 50%,#051934 100%); 
// }