/*
  CSS font-size clamp generator
  https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI5MDBweCIsIm1pbkZvbnRTaXplIjoiMTRweCIsIm1heEZvbnRTaXplIjoiNTJweCJ9
*/
/* ------------------------------------------------------ Polices de l'entête */
h1 {
  font-size: clamp(2.25rem, 1.9375rem + 1vw, 2.5rem);
}

h2 {
  font-size: clamp(2rem, 1.6875rem + 1vw, 2.25rem);
}

h3 {
  font-size: clamp(1.75rem, 1.4375rem + 1vw, 2rem);
}

h4 {
  font-size: clamp(1.5rem, 1.1875rem + 1vw, 1.75rem);
}

h5 {
  font-size: clamp(1.25rem, 0.9375rem + 1vw, 1.5rem);
}

h6 {
  font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
}

P {
  font-size: clamp(0.75rem, 0.5625rem + 0.6vw, 0.9rem);
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-family: "Slackey", cursive; */
}

h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}
