* {
    box-sizing: border-box !important;
    margin: 0;
    border: none;
    padding: 0;
    scroll-behavior: smooth;
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

html {
    overflow: hidden;
}